.Menu {
    max-width: 1400px;
    margin: auto;
    margin-bottom: 30px;
    background-color: #FCF2CC;
    border-radius: 5px;
}

.MenuHeader {
    font-family: 'Lily Script One', cursive;
    font-size: 72px;
    margin-left: 20px;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}

.MenuNav {
    background-color: #212121;
    text-align: center;
    height: 53px;
    width: 280px;
    margin-bottom: 30px;
    margin-top: -20px;
}

.MenuNavItems {
    margin: auto;
    display: flex;
    height: 53px;
    margin-left: 50px;
}

.MenuLink {
    font-size: 24px;
    color: #e5e5e5;
    text-decoration: none;
    font-weight: lighter;
    width: 110px;
    transition: all .5s;
    padding-top: 10px;
}

.MenuLink:hover {
    background-color: #000000;
    transition: all .5s;
}

.MenuLinkActive {
    color: #ffffff;
    background-color: #000000;
}