.About {
    max-width: 1500px;
    margin: auto;
    margin-bottom: 30px;
}

.AboutHeader {
    font-family: 'Lily Script One', cursive;
    font-size: 72px;
    margin-left: 20px;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}

.AboutSection {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 60% 40%;
}

.AboutText {
    margin-left: 15px;
    margin-top: -40px;
    font-size: 21px;
}

.AboutText a {
    text-decoration: none;
    color: #5dade2;
    transition: all .5s;
}

.AboutText a:hover {
    color: #2980b9;
    transition: all .5s;
}

.AboutImgBackground {
    width: 467px;
    height: 377px;
    border-radius: 5px;
    background-color: #FCF2CC;
    text-align: center;
    margin-top: -40px;
    margin-left: 30px;
}

.AboutImg {
    width: 450px;
    height: 360px;
    border-radius: 5px;
    margin-top: 10px;
}