.Contact {
    width: 100%;
    background-color: #212121;
}

.ContactContent {
    max-width: 1500px;
    margin: auto;
    color: #ffffff;
}

.ContactHeader {
    font-family: 'Lily Script One', cursive;
    font-size: 72px;
    margin-left: 20px;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}

.ContactMain {
    display: grid;
    grid-template-columns: 40% 60%;
}

.ContactImg {
    width: 730px;
    height: 395px;
    object-fit: cover;
    border-radius: 5px;
}