.Contact {
    width: 100%;
    background-color: #212121;
}

.ContactContent {
    max-width: 1500px;
    margin: auto;
    color: #ffffff;
}

.ContactHeader {
    font-family: 'Lily Script One', cursive;
    font-size: 72px;
    margin-left: 20px;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}