.NavBar {
    width: 100%;
    background-color: #212121;
    height: 107px;
    text-align: center;
}

.NavItems {
    width: 60%;
    margin: auto;
    display: flex;
    height: 107px;
}

.Link {
    text-decoration: none;
    color: #E5E5E5;
    font-size: 28px;
    font-weight: lighter;
    width: 136px;
    padding-top: 35px;
    transition: all .5s;
}

.ActiveUnderline {
    display: none;
    transition: all .5s;
}

.Link:hover {
    color: #FFFFFF;
    transition: all .5s;
}

.ActiveLink {
    color: #FFFFFF;
    background-color: #000000;
}

.ActiveLink .ActiveUnderline {
    display: block;
    margin-top: 0;
    color: #FFFFFF;
    width: 93px;
    transition: all .5s;
}

.CenterLogo {
    margin-top: 5px;
    width: 368px;
    padding: 0 15px;
    color: #FDFEFE;
}

.Est {
    margin: 0;
    font-size: 14px;
    font-weight: lighter;
}

.LogoHeader {
    margin: 0;
    width: 368px;
    font-size: 36px;
    font-family: 'Lily Script One', cursive;
}

.Smithfield {
    margin: 0 50px;
    display: flex;
    font-weight: lighter;
}

.SmithfieldHr {
    width: 46px;
    height: 0;
    color: #FFFFFF;
    margin-top: 10px;
}